<p>
    <b><%= comment.get_parent_name %>:</b>
    <%= comment.body %>

 <% if current_user %>
   <% if current_user.id == comment.user_id %>
  <%= link_to 'x', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
 <% end %>
   <% end %>
</p>

