<h1>Users</h1>
 
<table border="1">
  <tr>
    <th>Login</th>
    <th>Email</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.login %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
<p><a href="..">Home</a></p>
